/*-------------------------
	Variables
--------------------------*/
:root {
	--font-fam-sans:'Open Sans', sans-serif;
	--font-fam-mono:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	--gutter1:1em;
	--gutter2:2em;
	--color1:hsla(205, 16%, 39%, 1);
	--color2:hsla(215, 18%, 72%, 1);
}
/*-------------------------
	Utilities
--------------------------*/
div{
	/*visual debug*/
	/*border:1px solid black;
	margin:1px;*/
}
.hide {
	display: none !important;
}
.center {
	text-align: center !important;
}
/*-------------------------
	Heading
--------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-fam-sans);
	line-height: 1.3;
	margin: 0.5em 0;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/*-------------------------
	Layout
--------------------------*/
main{
	display: flex;
	flex-direction: column;
	min-height:calc(100vh - 50px);
}
header > *, article{
	padding:var(--gutter1) var(--gutter2);
	flex-basis: auto;
	flex-grow: 1;
}
header nav{
	padding:var(--gutter1) calc(var(--gutter2) * 2);
}
header > section{

}
#branding, footer{
	text-align: center;
	color: var(--color2);
	background: var(--color1);
}
header nav{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
}
header nav ul{
	margin:0;
	padding:0;
	align-self: center;
	list-style-type: none;
}
header nav li{
	margin: 0;
}
header #search-form{
	margin-left: auto;
	align-self: center;
}
#branding a, footer a:link{
	color:white;
}
.blog-tagline{
	font-style: italic;
}
footer{
	padding:var(--gutter1) calc(var(--gutter2) * 2);
	text-align: left;

}
footer p{
	/*margin:.75em var(--gutter1);*/
	font-size: 12px;
}
footer p:first-of-type{
	padding:var(--gutter1) 0;
	border-top:1px solid var(--color2);
}

/*-------------------------
	Flexbox rows & Columns
--------------------------*/
.row{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col{
	padding:0 var(--gutter1);
}
footer .col{
	min-width:200px;
}

/*-------------------------
	Link
--------------------------*/

a, a:visited {
	outline: none;
	color: #2E9FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.tab {
	width: 100%;
	margin: 1.5em 0 0 0;
	line-height: 1;
	border-bottom: 1px solid hsla(222, 23%, 81%, 1);
}

.tab ul {
	padding:0;
	margin:0;
}

.tab  li {
	display: inline-block;
	margin:0;
	padding:0;
}

.tab a {
	position:relative;

	background: hsla(222, 23%, 91%, 1);
	border-radius: 6px 6px 0 0;
	color: #555555;
	text-align: center;
	padding: 8px 14px;
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: var(--font-fam-sans);
}
.tab .active a{
	top:1px;
	background:white;
	border:1px solid hsla(222, 23%, 81%, 1);
	border-bottom:none;
}

/*-------------------------
	Text element
--------------------------*/

blockquote:before {
	color: #BBBBBB;
	content: "''";
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.2em;
	vertical-align: -0.4em;
}

blockquote:after {
	color: #BBBBBB;
	content: "''";
	font-size: 3em;
	line-height: 0.1em;
	vertical-align: -0.45em;
}

blockquote {
	font-style: italic;
	margin: var(--gutter1) 0 var(--gutter1) var(--gutter1);
}

blockquote p {
	display: inline;
}

pre {
	margin: var(--gutter1) 0;
	overflow: auto;
	background: #F1F1FF;
	color: #333333;
	display: block;
	font-family: var(--font-fam-mono);
	font-size: 14px;
	padding: 10px;
	line-height: 1.3;
}

code {
	color: #333333;
	font-family: var(--font-fam-mono);
	font-size: 15px;
	padding: 3px 8px;
	background: #F1F1FF;
}

pre code {
	color: #333333;
	display: block;
	font-family: var(--font-fam-mono);
	font-size: 14px;
	padding: 0;
	line-height: 1.6;
}

ul, ol {
	padding-left: 30px;
	margin: var(--gutter1) 0;
}

ul li, ol li {
	margin: 0.25em 0;
}

input[type=text], input[type=password] {
	padding: 4px 6px;
	font-size: 14px;
	background-color: #F6F7F9;
	border: 1px solid #CFDAE5;
}

input[type=text]:hover, input[type=password]:hover {
	background-color: #F6F7F9;
	border: 1px solid #CCCCCC;
}

input[type=submit] {
	padding: 4px 6px;
	font-size: 14px;
	cursor: pointer;
}

input.text {
	width: 75%;
	padding: 5px;
	font-size: 14px;
	background-color: #F6F7F9;
	border: 1px solid #CFDAE5;
}

input.error, textarea.error {
	border: 1px solid red;
}

textarea {
	font-size: 15px;
	font-family: Georgia, serif;
	line-height: 1.4;
	background-color: #F6F7F9;
	border: 1px solid #CFDAE5;
	padding: 2%;
	width: 96%;
	min-height: 5em;
	overflow: auto;
}

textarea:hover {
	border: 1px solid #CCCCCC;
}

.error-message {
	color: red;
	background: #f4f4f4;
	padding: 10px 0;
	margin-bottom: 2em;
}

span.required {
	color: red;
}

span.help {
	font-size: 12px;
	font-style: italic;
}

.category {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	display: block;
	font-size: 13px;
	margin: 20px 0;
	padding: 0 var(--gutter1);
}

.tags a:after {
	content:", ";
}
.tags a:last-child:after {
	content:"";
}

/*-------------------------
	Table
--------------------------*/

table {
	font-size: 12px;
	border: none;
	width: 100%;
	color: #333333;
	border: 1px solid #E3E3E3;
	margin: var(--gutter1) 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

table h2.title {
	margin: 5px 0;
}

th, td {
	padding: 5px 10px;
	border: none;
}

th.title {
	margin: 5px 0;
	font-family: var(--font-fam-sans);
	font-size: 16px;
	font-weight: normal;
}

td.title {
	font-weight: normal;
	background-color: #f6f6f6;
	font-family: var(--font-fam-sans);
}

th {
	background-color: #f6f6f6;
	border-bottom: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	font-family: var(--font-fam-sans);
	font-size: 16px;
}

td {
	background-color: #fafafa;
	border: 1px solid #E3E3E3;
	border-top: none;
	border-left: none;
}

table.post-list td a {
	margin: 0 5px;
}

/*-------------------------
	Images
--------------------------*/
.featured-image img{
	height:auto;
	max-width:100%;
}

/*----------------------------
	Search form
-----------------------------*/

.search-input[type=text] {
	margin: 0;
	padding: 4px 15px;
	font-size: 14px;
	border: 1px solid #0076a3;
	background: #FFFFFF;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	width: 120px;
	color: #888888;
}

.search-button {
	margin: 0;
	padding: 4px;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #546673;
	/*border-right: 0;*/
	background: hsla(198, 63%, 49%, 1);
	background: -moz-linear-gradient(0deg, hsla(198, 63%, 49%, 1) 0%, hsla(208, 100%, 59%, 1) 100%);
	background: -webkit-linear-gradient(0deg, hsla(198, 63%, 49%, 1) 0%, hsla(208, 100%, 59%, 1) 100%);
	background: linear-gradient(0deg, hsla(198, 63%, 49%, 1) 0%, hsla(208, 100%, 59%, 1) 100%);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	width: 60px;
}

.search-button:hover {
	text-decoration: none;
	background: hsla(196, 100%, 28%, 1);
	background: -moz-linear-gradient(0deg, hsla(196, 100%, 28%, 1) 0%, hsla(196, 100%, 40%, 1) 100%);
	background: -webkit-linear-gradient(0deg, hsla(196, 100%, 28%, 1) 0%, hsla(196, 100%, 40%, 1) 100%);
	background: linear-gradient(0deg, hsla(196, 100%, 28%, 1) 0%, hsla(196, 100%, 40%, 1) 100%);
}

/*-------------------------
	Post
--------------------------*/

.post {
	border-bottom: 1px solid #EBF2F6;
	padding: var(--gutter1) 0;
}

.in-post .post {
	padding-bottom: 0;
}

p, ul {
	margin: var(--gutter1) 0;
}

.breadcrumb {
	font-family: var(--font-fam-sans);
	font-size: 14px;
	font-weight: normal;
}

.date {
	font-family: var(--font-fam-sans);
	font-size: 14px;
	color: #A7A7A7;
	font-weight: normal;
	margin: var(--gutter1) 0;
}

h1.blog-title, h2.blog-title {
	font-style: normal;
	font-size: 28px;
}

h1.title-post a, h2.title-index a {
	color: #4f4f4f;
	text-decoration: none;
}

h1.title-post a:hover, h2.title-index a:hover {
	color: #2E9FFF;
}

.in-post .post {
	padding-top: 0;
	border: none;
}

.in-page .border {
	padding: 0;
	margin: 0;
	border: 0;
}

.in-page .post {
	padding-top: 0;
}

.in-front .first, .in-post .post, .in-tag .first, .in-archive .first, .in-search .first, .error-404 .post, .error-404-search .post {
	padding-top: 0;
}

.in-front .first h2.title-index {
	margin-top: 0;
}

.in-profile .bio {
	font-size: 14px;
	font-style: italic;
	border-bottom: 1px solid #EBF2F6;
	padding-bottom: var(--gutter1);
	margin-bottom: 2em;
}

.post-list {
	font-size: 14px;
}

/*-------------------------
	Share box
--------------------------*/

.separator {
	font-size: 20px;
}

.share-box {
	display: flex;
}

.author-info {
	flex-grow: 1;
}

.author-info p {
	font-style: italic;
}

.share {}

.share a {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 0 5px;
	vertical-align: middle;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	text-indent: -9999em;
}

.share a.twitter {
	background: url(../img/share-twitter.png) left top no-repeat;
}

.share a.facebook {
	background: url(../img/share-facebook.png) left top no-repeat;
}

.share a.googleplus {
	background: url(../img/share-googleplus.png) left top no-repeat;
}

.share a:hover {
	background-position: left -26px;
}

/*-------------------------
	Comments
--------------------------*/

.comments {
	position: relative;
	font-size: 16px;
}

.border {
	border-top: 1px solid #DFDFDF;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-bottom: 15px;
}

.border .fb-comments, .border #disqus_thread {
	padding-top: 1.2em;
}

#disqus_thread {
	font-family: Georgia, Times, Cambria, serif;
}

/*-------------------------
	Related posts
--------------------------*/

.related {
	font-size: 14px;
	font-family: var(--font-fam-sans);
	margin-bottom: var(--gutter1);
}

.related ul {
	/*margin: 0;*/
}

/*-------------------------
	Pagination + Postnav
--------------------------*/

.postnav {
	display:flex;
	padding-bottom: var(--gutter1);
	font-family: var(--font-fam-sans);
	font-size: 12px;
	font-weight: bold;
}

.postnav a {
	background: none repeat scroll 0 0 #E4E7EE;
	border-radius: 3px;
	color: #555555;
	line-height: 1;
	text-align: center;
}

.postnav a:hover {
	text-decoration: none;
	color: #333333;
}

.postnav .newer {
	align-self: flex-start;
	flex-grow: 1;
}

.postnav .newer a{
	margin-right: var(--gutter1);
	margin-bottom: 0.1em;
	padding: 10px 15px 10px 25px;
}

.postnav .older {
	align-self: flex-end;
}

.postnav .older a{
	padding: 10px 25px 10px 15px;
}
.postnav .pagination-arrow {
	display: inline-block;
	border-radius: 3px;
	color: #555 !important;
	text-decoration: none !important;
	text-transform: none;
	position: relative;
}

.postnav .pagination-arrow.newer:before,
.postnav .pagination-arrow.older:before {
	content: '';
	border: 5px solid #555;
	border-color: transparent #555 transparent transparent;
	width: 0;
	height: 0;
	position: absolute;
	left: 5px;
	top: 12px;
}

.postnav .pagination-arrow.older:before {
	left: auto;
	right: 5px;
	border-color: transparent transparent transparent #555;
}

.pager {
	display:flex;
	padding: 30px 0 var(--gutter1) 0;
	font-family: var(--font-fam-sans);
	font-size: 12px;
	font-weight: bold;
}

.pager a {
	background: none repeat scroll 0 0 #E4E7EE;
	border-radius: 3px;
	color: #555555;
	line-height: 1;
	padding: 10px 20px;
	text-align: center;
}

.pager .newer {
	flex-grow: 1;
}

.pager .older {}

.pager a:hover {
	text-decoration: none;
	color: #333333;
}

/*-------------------------
	Footer
--------------------------*/

#footer {
	font-size: 14px;
}

#footer a {
	color: #CBD2DC;
	font-weight: bold;
}

#footer ul {
	margin: 0.5em 0;
}

.recent ul {
	padding-left: 20px;
}

.archive .toggle {
	font-family: Georgia, Arial, sans-serif;
	font-size: 16px;
}

.tagcloud ul {
	padding: 0;
	margin: 0;
}

.tagcloud ul li {
	list-style: none;
	margin-right: 10px;
}

.copyright {
	font-size: 12px;
	border-top: 1px solid #ABB6C5;
	padding-top: var(--gutter1);
}

/*----------------------------
	The 404 page
-----------------------------*/

.message {
	padding: 50px 20px 20px 20px;
}

.message h1 {
	font-size: 36px;
	margin-bottom: 18px;
}

.message p {
	font-size: 13px;
}

.search-404 {
	/*float:left + width:100% = same appearance of display:block which is the default for divs...*/
/*	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 1.2em;*/
}

/*----------------------------
	Media queries
-----------------------------*/

@media all and (max-width: 700px) {

	#menu, #header, #content, #footer {
		margin: 0 auto;
		width: 100%;
	}

	.admin #menu, .admin #header, .admin #content, .admin #footer {
		margin: 0 auto;
		width: 100%;
	}

	#search-form {
		padding: 10px 0;
	}

	pre {
		white-space: pre-wrap;
		word-wrap: break-word;
	}

}

/*----------------------------
	Video
-----------------------------*/
/*unable to find video-wrapper in default theme's html.php files 2021.01.19sean1138*/
.video-wrapper {
	margin: var(--gutter1) 0;
}

@media all and (min-width: 420px) {

	.video-wrapper {
		padding-top: 315px !important;
		position: relative;
		width: 100%;
		max-width: 420px !important;
		max-height: 315px !important;
	}

	.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		max-width: 420px !important;
		width: 100%;
		max-height: 315px !important;
	}

}

@media all and (max-width: 420px) {

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

}

@media all and (max-width: 560px) {

	.featured-video, .featured-audio {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.featured-video iframe, .featured-video object, .featured-video embed, .featured-audio iframe, .featured-audio object, .featured-audio embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

}

/*----------------------------
		Archive
-----------------------------*/

ul.archivegroup {
	padding: 0;
	margin: 0;
}

.archivegroup .expanded ul {
	display: block;
}

.archivegroup .collapsed ul {
	display: none;
}

.archivegroup li.expanded, .archivegroup li.collapsed {
	list-style: none;
}
